[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/rosstimson/scala-vim-support.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
